@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  /* --roboto: 'Roboto', sans-serif; */
  --open_sans: 'Open Sans', serif;
  --vt: 'VT323', monospace;
  --black: #000;
  --black-hover: #0000009d;
  --brown: #b28459;
  --brown-hover: #b59271;
  --light-brown: #f2e5cf;
  --light-brown-hover: #f2e5d2;
  --white: #fff;
  --white-hover: #e4d5d5f4;
  --blue: #0080ff;
  --blue-hover: #3f91e2;
  --green: rgba(152, 251, 152, 0.7);
  --red: rgba(240, 128, 128, 0.7);
  --rich-red: rgb(234, 49, 49, 1);
  --red-hover: rgb(234, 49, 49, 0.7);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--open_sans);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

html {
  font-family: var(--vt);
  font-size: 1rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modalContainer {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#modalContent {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 1.5rem;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  height: 200px;
  border-radius: 10px;
}

.title-container {
  width: 50%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  margin-bottom: 1em;
  text-align: center;
}

.hero {
  font-size: 2.5em;
  font-weight: bold;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 55px);
  grid-template-rows: repeat(8, 55px);
  box-shadow: 5px 12px 15px 5px var(--black-hover)
}

.chessboard div {
  border: 1px solid var(--brown);
}

.brown {
  cursor: pointer;
  background-color: var(--brown);
}

.brown:hover {
  background-color: var(--brown-hover);
}

.light-brown {
  cursor: pointer;
  background-color: var(--light-brown);
}

.light-brown:hover {
  background-color: var(--light-brown-hover);
}

.position-container {
  display: flex;
  justify-content: space-between;
}

.starting-container,
.ending-container {
  display: flex;
  align-items: center;
  padding: 1.5em;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

button {
  font-size: 1rem;
  padding: 0.5em;
  color: var(--white);
  border: none;
  border-radius: 5px;
}

.submit-btn {
  background-color: var(--blue);
}

.submit-btn:hover {
  cursor: pointer;
  background-color: var(--blue-hover);
}

.reset-btn {
  background-color: var(--rich-red);
}

.reset-btn:hover {
  cursor: pointer;
  background-color: var(--red-hover);
}

.footer-icon {
  font-size: 2rem;
  margin-right: 5px;
  color: var(--black);
}

@media screen and (max-width: 600px) {
  .chessboard {
    grid-template-columns: repeat(8, 35px);
    grid-template-rows: repeat(8, 35px);
    box-shadow: 3px 8px 10px 3px var(--black-hover);
    margin: 0 auto;
  }

  .chessboard div {
    border: 1px solid var(--brown);
  }

  .main-container {
    padding: 1em;
  }

  .header .hero {
    font-size: 1.8em;
  }

  button {
    font-size: 0.9rem;
    padding: 0.4em;
  }

  #modalContent {
    font-size: 1.2rem;
    padding: 15px;
  }
}